<div class="center-content">
    <p>Progress for march</p>
    <div class="graph parent ui-body-a">
        <div class="graph <%= graph_theme(@total_points) %>" style="width:<%= @percentage %>%"></div>
    </div>
</div>