<div class="center-content">
    <p><%= @total_points %> av 700 insamlade</p>
    <div class="graph parent ui-body-a">
        <div class="graph <%= graph_theme(@total_points) %>" style="width:<%= @percentage %>%"></div>
    </div>
</div>
