<div class="center-content">
    <p><%= t(:'users.show.collective_points_this_month', :score => @total_points) %></p>
    <div class="graph parent ui-body-a">
        <div class="graph <%= graph_theme(@total_points) %>" style="width:<%= @percentage %>%"></div>
    </div>
</div>
