<li>
    <a href="#">
        <h3><%= event.title %></h3>
        <p><strong><%= event.where %></strong></p>
        <p class="ui-li-aside"><strong><%= event.start_time.to_s(:time) %></strong></p>
    </a>
</li>