/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

.footer-navigation{
    padding: 1em 0 3em 0;
    overflow:hidden;
}
.main-navigation{
    padding:1em;
    overflow:hidden;
}

.float-left{
    float:left;
}
.float-right{
    float:right;
}
.left-content{
    text-align:left;
}
.center-content{
    text-align:center;
}
.right-content{
    text-align:right;
}
.bottom-space{
    padding-bottom:10px;
}
.remove-text{
    text-indent: -9999px;
}
.left-close-button{
    left:10px !important;
    position:absolute !important;
    top:.4em !important;
}