/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require "jquery.mobile-1.0rc2"
 *= require_self
 *= require_tree . 
*/

.ring{
    float:right;
    width:8px;
    height:8px;
    border: 1px solid #2F3E46;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    margin:-.5em 0 0 .2em;
}
#event .ring{
    margin-top:.3em;
}
#circles .ring{
    float:left;
    margin: .3em .2em 0 0;
}
.footer-navigation{
    padding: 1em 0 3em 0;
    overflow:hidden;
}
.main-navigation{
    padding:1em;
    overflow:hidden;
}
.hide{
    display:none;
}
.not-visible{
    visibility:hidden;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clearfix{
    overflow:hidden;
    clear:both;
}
.left-content{
    text-align:left;
}
.center-content{
    text-align:center;
}
.right-content{
    text-align:right;
}
.bottom-space{
    padding-bottom:10px;
}
.top-space{
    padding-top:10px;
}
.remove-text{
    text-indent: -9999px;
}
.left-close-button{
    left:10px !important;
    position:absolute !important;
    top:.4em !important;
}
.ui-icon-network{
    background-image: url(jquery-mobile/icon-network.png) !important;
}
.ui-icon-stats{
    background-image: url(jquery-mobile/icon-stats.png) !important;
}
.ui-icon-map{
    background-image: url(jquery-mobile/icon-map.png) !important;
}
.ui-icon-dumbell{
    background-image: url(jquery-mobile/icon-dumbell.png) !important;
}
.pending-memberships{
    float:right;
    font-weight:bold;
    background:#d93823;
    padding:2px 4px;
    font-size:9px;
    border:2px solid #fff;
    -moz-border-radius:14px;
    -webkit-border-radius:14px;
    border-radius:14px;
    margin-top:-25px;
    margin-right:0;
}
.ui-collapsible-heading, .ui-collapsible-content{
    margin:0 0 !important;
}
.ui-collapsible-content .ui-listview-inset{
    margin: .6em 0 !important;
}
.ui-collapsible-heading .count{
    float:right;
    font-weight:bold;
    padding:2px 6px;
    font-size:12px;
    background:#eee;
    border:1px solid #aaa;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}