// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map{
    width:100%;
    height:320px;
    background:#000;
}
.content{
    font-size:18px;
}
.event-time{
    font-size:14px !important;
}
#event .time{
    float:right;
    font-size:18px !important;
}
li.event a{
    border-left:none !important;
}
h1 a.header-link.ui-link{
    color:#fff;
    text-decoration:none;
}

.you a{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c8edc2), to(#adcca7)) !important;
    background-image: -webkit-linear-gradient(top, #c8edc2, #adcca7) !important;
    background-image: -moz-linear-gradient(top, #c8edc2, #adcca7) !important;
    background-image: -ms-linear-gradient(top, #c8edc2, #adcca7) !important;
    background-image: -o-linear-gradient(top, #c8edc2, #adcca7) !important;
    background-image: linear-gradient(top, #c8edc2, #adcca7) !important;
    border-top:none !important;
}
.you .ui-btn-inner{
    border-top:none !important;
}
.you-old a{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#fdfdfd)) !important;
    background-image: -webkit-linear-gradient(top, #eeeeee, #fdfdfd) !important;
    background-image: -moz-linear-gradient(top, #eeeeee, #fdfdfd) !important;
    background-image: -ms-linear-gradient(top, #eeeeee, #fdfdfd) !important;
    background-image: -o-linear-gradient(top, #eeeeee, #fdfdfd) !important;
    background-image: linear-gradient(top, #eeeeee, #fdfdfd) !important;
    color:gray !important;
}

.ui-bar-b.old{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c2cfcf), to(#8e9191)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(top, #c2cfcf, #8e9191) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(top, #c2cfcf, #8e9191) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(top, #c2cfcf, #8e9191) !important; /* IE10 */
    background-image:      -o-linear-gradient(top, #c2cfcf, #8e9191) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(top, #c2cfcf, #8e9191) !important;
    border-top: #444 !important;
    text-shadow: 0 -1px 1px #666;
}