
/* F
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-f {
	border: 1px solid #850f00;
	background: #DD3920;
	color:  	#3E3E3E;
	font-weight: bold;
	text-shadow:  0 1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F33E23), to(#C6331C)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #F33E23, #C6331C); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #F33E23, #C6331C); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #F33E23, #C6331C); /* IE10 */
	background-image:      -o-linear-gradient(top, #F33E23, #C6331C); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #F33E23, #C6331C);
}

.ui-bar-f .ui-link-inherit {
	color:  	#3E3E3E;
}
.ui-bar-f .ui-link {
	color:  #7cc4e7;
	font-weight: bold;
}

.ui-bar-f .ui-link:hover {
	color:  #2489CE;
}

.ui-bar-f .ui-link:active {
	color:  #2489CE;
}

.ui-bar-f .ui-link:visited {
    color:  #2489CE;
}

.ui-bar-f,
.ui-bar-f input,
.ui-bar-f select,
.ui-bar-f textarea,
.ui-bar-f button {
	 font-family: Helvetica, Arial, sans-serif;
}
.ui-body-f {
	border: 1px solid #850f00;
	color:  	#333333;
	text-shadow:  0 1px 0 #fff;
	background: #DD3920;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EE3D22), to(#CB341D)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #EE3D22, #CB341D); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #EE3D22, #CB341D); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #EE3D22, #CB341D); /* IE10 */
	background-image:      -o-linear-gradient(top, #EE3D22, #CB341D); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #EE3D22, #CB341D);
}
.ui-body-f,
.ui-body-f input,
.ui-body-f select,
.ui-body-f textarea,
.ui-body-f button {
	 font-family: Helvetica, Arial, sans-serif;
}

.ui-body-f .ui-link-inherit {
	color:  	#333333;
}

.ui-body-f .ui-link {
	color:  #2489CE;
	font-weight: bold;
}

.ui-body-f .ui-link:hover {
	color:  #2489CE;
}

.ui-body-f .ui-link:active {
	color:  #2489CE;
}

.ui-body-f .ui-link:visited {
    color:  #2489CE;
}

.ui-btn-up-f {
	border: 1px solid #850f00;
	background: #DD3920;
	font-weight: bold;
	color: #f2f2f2;
	text-shadow:  0 1px 1px #850F00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EE3D22), to(#CB341D)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #EE3D22, #CB341D); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #EE3D22, #CB341D); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #EE3D22, #CB341D); /* IE10 */
	background-image:      -o-linear-gradient(top, #EE3D22, #CB341D); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #EE3D22, #CB341D);
}
.ui-btn-up-f a.ui-link-inherit {
	color: #f2f2f2;
}

.ui-btn-hover-f {
	border: 1px solid #850f00;
	background: #c23019;
	font-weight: bold;
	color: #f2f2f2;
	text-shadow:  0 1px 1px #850F00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#D5341B), to(#AE2B16)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #D5341B, #AE2B16); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #D5341B, #AE2B16); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #D5341B, #AE2B16); /* IE10 */
	background-image:      -o-linear-gradient(top, #D5341B, #AE2B16); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #D5341B, #AE2B16);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: #f2f2f2;
}
.ui-btn-down-f {
	border: 1px solid #850f00;
	background: #DD3920;
	font-weight: bold;
	color: #f2f2f2;
	text-shadow:  0 1px 1px #850F00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C6331C), to(#F33E23)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #C6331C, #F33E23); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #C6331C, #F33E23); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #C6331C, #F33E23); /* IE10 */
	background-image:      -o-linear-gradient(top, #C6331C, #F33E23); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #C6331C, #F33E23);
}
.ui-btn-down-f a.ui-link-inherit {
	color: #f2f2f2;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	 font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

/* G
-----------------------------------------------------------------------------------------------------------*/

.ui-bar-g {
	border: 1px solid #467700;
	background:  			#e9eaeb;
	color: #333333;
	font-weight: bold;
	text-shadow:  0 1px 1px #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#99BD42), to(#6AA417)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #99BD42, #6AA417); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #99BD42, #6AA417); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #99BD42, #6AA417); /* IE10 */
	background-image:      -o-linear-gradient(top, #99BD42, #6AA417); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #99BD42, #6AA417);
}

.ui-bar-g .ui-link-inherit {
	color: #333333;
}
.ui-bar-g .ui-link {
	color:  #7cc4e7;
	font-weight: bold;
}

.ui-bar-g .ui-link:hover {
	color:  #2489CE;
}

.ui-bar-g .ui-link:active {
	color:  #2489CE;
}

.ui-bar-g .ui-link:visited {
    color:  #2489CE;
}

.ui-bar-g,
.ui-bar-g input,
.ui-bar-g select,
.ui-bar-g textarea,
.ui-bar-g button {
	 font-family: Helvetica, Arial, sans-serif;
}
.ui-body-g {
	border: 1px solid #467700;
	color: #333333;
	text-shadow:  0 1px 0 #fff;
	background:  			#f0f0f0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#99BD42), to(#6AA417)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #99BD42, #6AA417); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #99BD42, #6AA417); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #99BD42, #6AA417); /* IE10 */
	background-image:      -o-linear-gradient(top, #99BD42, #6AA417); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #99BD42, #6AA417);
}
.ui-body-g,
.ui-body-g input,
.ui-body-g select,
.ui-body-g textarea,
.ui-body-g button {
	 font-family: Helvetica, Arial, sans-serif;
}

.ui-body-g .ui-link-inherit {
	color: #333333;
}

.ui-body-g .ui-link {
	color: #3c6600;
	font-weight: bold;
}

.ui-body-g .ui-link:hover {
	color:  #2489CE;
}

.ui-body-g .ui-link:active {
	color:  #2489CE;
}

.ui-body-g .ui-link:visited {
    color:  #2489CE;
}

.ui-btn-up-g {
	border: 1px solid #467700;
	background: #6AA417;
	font-weight: bold;
	color: #ffffff;
	text-shadow:  0 1px 1px #666666;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#99BD42), to(#6AA417)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #99BD42, #6AA417); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #99BD42, #6AA417); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #99BD42, #6AA417); /* IE10 */
	background-image:      -o-linear-gradient(top, #99BD42, #6AA417); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #99BD42, #6AA417);
}
.ui-btn-up-g a.ui-link-inherit {
	color: #ffffff;
}

.ui-btn-hover-g {
	border: 1px solid #467700;
	background: #6AA417;
	font-weight: bold;
	color: #ffffff;
	text-shadow:  0 1px 1px #666666;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6AA417), to(#6AA417)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #6AA417, #6AA417); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #6AA417, #6AA417); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #6AA417, #6AA417); /* IE10 */
	background-image:      -o-linear-gradient(top, #6AA417, #6AA417); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #6AA417, #6AA417);
}
.ui-btn-hover-g a.ui-link-inherit {
	color: #ffffff;
}
.ui-btn-down-g {
	border: 1px solid #467700;
	background: #6AA417;
	font-weight: bold;
	color:  					#2F3E46;
	text-shadow:  0 1px 1px #666666;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#6AA417), to(#6AA417)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #6AA417, #6AA417); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #6AA417, #6AA417); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #6AA417, #6AA417); /* IE10 */
	background-image:      -o-linear-gradient(top, #6AA417, #6AA417); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #6AA417, #6AA417);
}
.ui-btn-down-g a.ui-link-inherit {
	color:  					#2F3E46;
}
.ui-btn-up-g,
.ui-btn-hover-g,
.ui-btn-down-g {
	 font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

