<div data-role="header" class="header-with-navigation" data-theme="a">
    <div class="main-navigation">
        <%= link_to "Träningar", events_url, :'data-role' => "button",  :'data-icon' => "home", :'data-transition' => "slidedown" %>
        <%= link_to "Användare", users_url, :'data-role' => "button",  :'data-icon' => "search", :'data-transition' => "slidedown" %>
    </div>
</div>