<div data-role="footer" data-id="footer" data-position="fixed">
    <div data-role="navbar">
        <ul>
            <li>
                <%= link_to t(:'events.header'), events_path, :'data-role' => "button",  :'data-icon' => "dumbell", :'data-transition' => "slidedown", :class => highlight_current_tab("events") %>
            </li>
            <li>
                <%= link_to t(:'users.menu'), user_path(current_user.id), :'data-role' => "button",  :'data-icon' => "stats", :'data-transition' => "slidedown", :class => highlight_current_tab("users") %>
            </li>
        </ul>
    </div>
</div>
<iframe src="<%= appcache_path %>" height="0" width="0"></iframe>